* {
    font-family: 'Times New Roman', Times, serif;
}

.main-picture {
    width: 50%; 
    border-radius: 0px;
    margin-block-start: 30px;
    float: left;
    margin-right: 5%;
}

footer {
    border-top: 1px solid black;
}

main {
    background-color: rgb(246, 246, 244);
    padding-bottom: 50%;
}

h1 {
    font-size: 60px;
    border-bottom: 1px solid black; 
}